Feature: Priority support

It would be great to have configurable priority as described in RFC6121, section 4.7.2.3.
